---
# SPDX-License-Identifier: MIT-0
# tasks file for nordvpn

- name: Load OS-specific vars
  ansible.builtin.include_vars: "../vars/{{ ansible_facts.distribution | lower }}.yml"

- name: Include Debian tasks
  ansible.builtin.include_tasks: setup-debian.yml
  when:
    - ansible_facts.distribution == 'Debian'

- name: Include Fedora tasks
  ansible.builtin.include_tasks: setup-fedora.yml
  when:
    - ansible_facts.distribution == 'Fedora'
