#SPDX-License-Identifier: MIT-0
---
# tasks file for nordvpn

# Below is an example task
- name: Install {{ gpg_keys_package }} package
  ansible.builtin.dnf:
    name: "{{ gpg_keys_package }}"
    state: present
