---
# SPDX-License-Identifier: MIT-0
# tasks file for nordvpn

- name: Load OS-specific vars
  ansible.builtin.include_vars: "../vars/{{ ansible_facts.distribution | lower }}.yml"

- name: Include Debian tasks
  ansible.builtin.include_tasks: setup-debian.yml
  when:
    - ansible_facts.distribution == 'Debian'

- name: Include Fedora tasks
  ansible.builtin.include_tasks: setup-fedora.yml
  when:
    - ansible_facts.distribution == 'Fedora'

- name: Ensure group "nordvpn" exists
  ansible.builtin.group:
    name: nordvpn
    state: present

- name: Ensure nordvpn users are added to the nordvpn group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: nordvpn
    append: true
  with_items: "{{ nordvpn_users }}"
