---
- name: Import NordVPN repo key
  ansible.builtin.rpm_key:
    state: present
    key: "{{ nordvpn_repo_key_url }}"

- name: Install NordVPN repository
  ansible.builtin.command:
    cmd: "dnf config-manager addrepo --id=\"nordvpn\" --set=baseurl=\"{{ nordvpn_fedora_repo_url }}\" --set=enabled=1 --overwrite"
    creates: /etc/yum.repos.d/nordvpn.repo

- name: Install NordVPN
  ansible.builtin.dnf:
    name: nordvpn
    state: present
    update_cache: true
